## STEP 1: Import modules and libraries

In [3]:
# pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\emman\appdata\local\programs\python\python310\lib\site-packages (2.0.25)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\emman\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\emman\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy) (4.9.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
from sqlalchemy import Column, Integer, String, Boolean, Date, DateTime, CHAR
from sqlalchemy.orm import declarative_base
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker, declarative_base
import json
import pandas as pd

In [2]:
with open('conection.json', 'r') as json_file:
    data = json.load(json_file)
    user = data["user"]
    password = data["password"]
    port= data["port"]
    server = data["host"]
    db = data["database"]

db_connection = f"postgresql://{user}:{password}@{server}:{port}/{db}"
engine=create_engine(db_connection)
print(f"conectado a {db_connection}")

conectado a postgresql://postgres:koby@localhost:5432/WorkShop

In [3]:
Session = sessionmaker(bind=engine)
session = Session()

## CANDIDATES CREATION

In [24]:
Base = declarative_base()

class Candidates(Base):
    __tablename__ = 'candidates'
    id = Column(Integer, primary_key=True, autoincrement=True)
    FirstName = Column(String(100), nullable=False)
    LastName = Column(String(100), nullable=False)
    Email = Column(String(100), nullable=False)
    ApplicationDate = Column(DateTime, nullable=False)
    Country = Column(String(100), nullable=False)
    YOE = Column(Integer, nullable=False)
    Seniority = Column(String(100), nullable=False)
    Technology = Column(String(100), nullable=False)
    CodeChallengeScore = Column(Integer, nullable=False)
    TechnicalInterviewScore = Column(Integer, nullable=False)

Base.metadata.create_all(engine)
Candidates.__table__

print("Table created")

Table created

In [41]:
class File:
    def __init__(self, file):
        self.df = pd.read_csv(file, sep=';', encoding='utf-8')
    
    def rename_columns(self):
        new_columns = {
            "First Name": "FirstName",
            "Last Name": "LastName",
            "Email": "Email",
            "Application Date": "ApplicationDate",
            "Country": "Country",
            "YOE": "YOE",
            "Seniority": "Seniority",
            "Technology": "Technology",
            "Code Challenge Score": "CodeChallengeScore",
            "Technical Interview Score": "TechnicalInterviewScore"
        }
        self.df.rename(columns=new_columns, inplace=True)

    def insert_id(self):
        self.df.insert(0, 'id', range(1, len(self.df) + 1))

In [26]:
data = File('candidates.csv')

data.rename_columns()
# data.insert_id()

data.df.to_sql('candidates', engine, if_exists='replace', index=False)
print("Data inserted")

Data inserted

Crea un motor de SQLAlchemy para conectarse a la base de datos especificada en db_connection.
Define el nombre de la tabla como 'candidates'.
Establece una conexión a la base de datos utilizando el motor creado.
Lee los datos de la tabla especificada ('candidates') en la base de datos y los carga en un DataFrame de pandas llamado df.
Cierra la conexión a la base de datos.
Muestra las primeras 5 filas del DataFrame df.

In [31]:
engine = create_engine(db_connection) 
connection = engine.connect() 
table_name = 'candidates'
candidatesTable = pd.read_sql_table(table_name, connection) 
connection.close()
candidatesTable.head()

,FirstName,LastName,Email,ApplicationDate,Country,YOE,Seniority,Technology,CodeChallengeScore,TechnicalInterviewScore
0,Bernadette,Langworth,leonard91@yahoo.com,2021-02-26,Norway,2,Intern,Data Engineer,3,3
1,Camryn,Reynolds,zelda56@hotmail.com,2021-09-09,Panama,10,Intern,Data Engineer,2,10
2,Larue,Spinka,okey_schultz41@gmail.com,2020-04-14,Belarus,4,Mid-Level,Client Success,10,9
3,Arch,Spinka,elvera_kulas@yahoo.com,2020-10-01,Eritrea,25,Trainee,QA Manual,7,1
4,Larue,Altenwerth,minnie.gislason@gmail.com,2020-05-20,Myanmar,13,Mid-Level,Social Media Community Management,9,7

## EDA

In [32]:
candidatesTable.shape

(50000, 10)

In [1]:
candidatesTable.describe()

NameError: name 'candidatesTable' is not defined

## HIRED CREATION

In [34]:
candidatesTable['Hired'] = ((candidatesTable['CodeChallengeScore'] > 7) & (candidatesTable['TechnicalInterviewScore'] > 7)).astype(int)
candidatesTable.head()

,FirstName,LastName,Email,ApplicationDate,Country,YOE,Seniority,Technology,CodeChallengeScore,TechnicalInterviewScore,Hired
0,Bernadette,Langworth,leonard91@yahoo.com,2021-02-26,Norway,2,Intern,Data Engineer,3,3,0
1,Camryn,Reynolds,zelda56@hotmail.com,2021-09-09,Panama,10,Intern,Data Engineer,2,10,0
2,Larue,Spinka,okey_schultz41@gmail.com,2020-04-14,Belarus,4,Mid-Level,Client Success,10,9,1
3,Arch,Spinka,elvera_kulas@yahoo.com,2020-10-01,Eritrea,25,Trainee,QA Manual,7,1,0
4,Larue,Altenwerth,minnie.gislason@gmail.com,2020-05-20,Myanmar,13,Mid-Level,Social Media Community Management,9,7,0

In [37]:
Base = declarative_base()

class Candidates(Base):
    __tablename__ = 'candidatesHired'
    id = Column(Integer, primary_key=True, autoincrement=True)
    FirstName = Column(String(100), nullable=False)
    LastName = Column(String(100), nullable=False)
    Email = Column(String(100), nullable=False)
    ApplicationDate = Column(DateTime, nullable=False)
    Country = Column(String(100), nullable=False)
    YOE = Column(Integer, nullable=False)
    Seniority = Column(String(100), nullable=False)
    Technology = Column(String(100), nullable=False)
    CodeChallengeScore = Column(Integer, nullable=False)
    TechnicalInterviewScore = Column(Integer, nullable=False)
    Hired = Column(Integer, nullable=False)

Base.metadata.create_all(engine)
Candidates.__table__

print("Table created")

Table created

In [42]:
data = File('candidates.csv')

data.df['Hired'] = ((data.df['Code Challenge Score'] > 7) & (data.df['Technical Interview Score'] > 7)).astype(int)

data.rename_columns()
data.insert_id()

data.df.to_sql('candidatesHired', engine, if_exists='replace', index=False)
print("Data inserted")

Data inserted